builds/CMakeCache.txt
builds/CMakeFiles/
builds/Makefile
builds/WebIDLGrammar.pkl
builds/bullet/
builds/cmake_install.cmake
builds/glue.cpp
builds/glue.js
builds/glue.o
builds/parser.out
w2-builds/*

node_modules
*.diff

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
CMakeFiles/generate.stamp.depend
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ammo-bindings.vcxproj
ammo-bindings.vcxproj.filters
ammo-javascript.vcxproj
ammo-javascript.vcxproj.filters
ammo-wasm.vcxproj
ammo-wasm.vcxproj.filters
ammo.sln
bullet/ALL_BUILD.vcxproj
bullet/ALL_BUILD.vcxproj.filters
bullet/BULLET_PHYSICS.sln
bullet/BulletConfig.cmake
bullet/cmake_install.cmake
bullet/CMakeFiles/generate.stamp
bullet/CMakeFiles/generate.stamp.depend
bullet/Demos/cmake_install.cmake
bullet/Demos/CMakeFiles/generate.stamp
bullet/Demos/CMakeFiles/generate.stamp.depend
bullet/Demos/HelloWorld/AppHelloWorld.vcxproj
bullet/Demos/HelloWorld/AppHelloWorld.vcxproj.filters
bullet/Demos/HelloWorld/cmake_install.cmake
bullet/Demos/HelloWorld/CMakeFiles/generate.stamp
bullet/Demos/HelloWorld/CMakeFiles/generate.stamp.depend
bullet/Demos/HelloWorld/INSTALL.vcxproj
bullet/Demos/HelloWorld/INSTALL.vcxproj.filters
bullet/Demos/INSTALL.vcxproj
bullet/Demos/INSTALL.vcxproj.filters
bullet/Extras/cmake_install.cmake
bullet/Extras/CMakeFiles/generate.stamp
bullet/Extras/CMakeFiles/generate.stamp.depend
bullet/Extras/ConvexDecomposition/cmake_install.cmake
bullet/Extras/ConvexDecomposition/CMakeFiles/generate.stamp
bullet/Extras/ConvexDecomposition/CMakeFiles/generate.stamp.depend
bullet/Extras/ConvexDecomposition/ConvexDecomposition.vcxproj
bullet/Extras/ConvexDecomposition/ConvexDecomposition.vcxproj.filters
bullet/Extras/ConvexDecomposition/INSTALL.vcxproj
bullet/Extras/ConvexDecomposition/INSTALL.vcxproj.filters
bullet/Extras/GIMPACTUtils/cmake_install.cmake
bullet/Extras/GIMPACTUtils/CMakeFiles/generate.stamp
bullet/Extras/GIMPACTUtils/CMakeFiles/generate.stamp.depend
bullet/Extras/GIMPACTUtils/GIMPACTUtils.vcxproj
bullet/Extras/GIMPACTUtils/GIMPACTUtils.vcxproj.filters
bullet/Extras/GIMPACTUtils/INSTALL.vcxproj
bullet/Extras/GIMPACTUtils/INSTALL.vcxproj.filters
bullet/Extras/HACD/cmake_install.cmake
bullet/Extras/HACD/CMakeFiles/generate.stamp
bullet/Extras/HACD/CMakeFiles/generate.stamp.depend
bullet/Extras/HACD/HACD.vcxproj
bullet/Extras/HACD/HACD.vcxproj.filters
bullet/Extras/HACD/INSTALL.vcxproj
bullet/Extras/HACD/INSTALL.vcxproj.filters
bullet/Extras/INSTALL.vcxproj
bullet/Extras/INSTALL.vcxproj.filters
bullet/Extras/Serialize/BulletFileLoader/BulletFileLoader.vcxproj
bullet/Extras/Serialize/BulletFileLoader/BulletFileLoader.vcxproj.filters
bullet/Extras/Serialize/BulletFileLoader/cmake_install.cmake
bullet/Extras/Serialize/BulletFileLoader/CMakeFiles/generate.stamp
bullet/Extras/Serialize/BulletFileLoader/CMakeFiles/generate.stamp.depend
bullet/Extras/Serialize/BulletFileLoader/INSTALL.vcxproj
bullet/Extras/Serialize/BulletFileLoader/INSTALL.vcxproj.filters
bullet/Extras/Serialize/BulletWorldImporter/BulletWorldImporter.vcxproj
bullet/Extras/Serialize/BulletWorldImporter/BulletWorldImporter.vcxproj.filters
bullet/Extras/Serialize/BulletWorldImporter/cmake_install.cmake
bullet/Extras/Serialize/BulletWorldImporter/CMakeFiles/generate.stamp
bullet/Extras/Serialize/BulletWorldImporter/CMakeFiles/generate.stamp.depend
bullet/Extras/Serialize/BulletWorldImporter/INSTALL.vcxproj
bullet/Extras/Serialize/BulletWorldImporter/INSTALL.vcxproj.filters
bullet/Extras/Serialize/BulletXmlWorldImporter/BulletXmlWorldImporter.vcxproj
bullet/Extras/Serialize/BulletXmlWorldImporter/BulletXmlWorldImporter.vcxproj.filters
bullet/Extras/Serialize/BulletXmlWorldImporter/cmake_install.cmake
bullet/Extras/Serialize/BulletXmlWorldImporter/CMakeFiles/generate.stamp
bullet/Extras/Serialize/BulletXmlWorldImporter/CMakeFiles/generate.stamp.depend
bullet/Extras/Serialize/BulletXmlWorldImporter/INSTALL.vcxproj
bullet/Extras/Serialize/BulletXmlWorldImporter/INSTALL.vcxproj.filters
bullet/Extras/Serialize/cmake_install.cmake
bullet/Extras/Serialize/CMakeFiles/generate.stamp
bullet/Extras/Serialize/CMakeFiles/generate.stamp.depend
bullet/Extras/Serialize/INSTALL.vcxproj
bullet/Extras/Serialize/INSTALL.vcxproj.filters
bullet/INSTALL.vcxproj
bullet/INSTALL.vcxproj.filters
bullet/src/BulletCollision/BulletCollision.vcxproj
bullet/src/BulletCollision/BulletCollision.vcxproj.filters
bullet/src/BulletCollision/cmake_install.cmake
bullet/src/BulletCollision/CMakeFiles/generate.stamp
bullet/src/BulletCollision/CMakeFiles/generate.stamp.depend
bullet/src/BulletCollision/INSTALL.vcxproj
bullet/src/BulletCollision/INSTALL.vcxproj.filters
bullet/src/BulletDynamics/BulletDynamics.vcxproj
bullet/src/BulletDynamics/BulletDynamics.vcxproj.filters
bullet/src/BulletDynamics/cmake_install.cmake
bullet/src/BulletDynamics/CMakeFiles/generate.stamp
bullet/src/BulletDynamics/CMakeFiles/generate.stamp.depend
bullet/src/BulletDynamics/INSTALL.vcxproj
bullet/src/BulletDynamics/INSTALL.vcxproj.filters
bullet/src/BulletSoftBody/BulletSoftBody.vcxproj
bullet/src/BulletSoftBody/BulletSoftBody.vcxproj.filters
bullet/src/BulletSoftBody/cmake_install.cmake
bullet/src/BulletSoftBody/CMakeFiles/generate.stamp
bullet/src/BulletSoftBody/CMakeFiles/generate.stamp.depend
bullet/src/BulletSoftBody/INSTALL.vcxproj
bullet/src/BulletSoftBody/INSTALL.vcxproj.filters
bullet/src/cmake_install.cmake
bullet/src/CMakeFiles/generate.stamp
bullet/src/CMakeFiles/generate.stamp.depend
bullet/src/INSTALL.vcxproj
bullet/src/INSTALL.vcxproj.filters
bullet/src/LinearMath/cmake_install.cmake
bullet/src/LinearMath/CMakeFiles/generate.stamp
bullet/src/LinearMath/CMakeFiles/generate.stamp.depend
bullet/src/LinearMath/INSTALL.vcxproj
bullet/src/LinearMath/INSTALL.vcxproj.filters
bullet/src/LinearMath/LinearMath.vcxproj
bullet/src/LinearMath/LinearMath.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
CMakeFiles/096f4f2e334e8e65f86f1a88a0307de5/INSTALL_force.rule
CMakeFiles/0d288c5720bab56872fd8ae2236e2f9c/INSTALL_force.rule
CMakeFiles/0d742c39439ef0fb75bcef1e5da8512a/INSTALL_force.rule
CMakeFiles/14262890b6889a6e48bc1009408ab2ef/INSTALL_force.rule
CMakeFiles/3.24.202208181-MSVC_2/CMakeCCompiler.cmake
CMakeFiles/3.24.202208181-MSVC_2/CMakeCXXCompiler.cmake
CMakeFiles/3.24.202208181-MSVC_2/CMakeSystem.cmake
CMakeFiles/3.24.202208181-MSVC_2/VCTargetsPath.txt
CMakeFiles/3.24.202208181-MSVC_2/VCTargetsPath.vcxproj
CMakeFiles/3.24.202208181-MSVC_2/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.24.202208181-MSVC_2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/388a3e491b837fc57f4602620980947a/INSTALL_force.rule
CMakeFiles/40cba81476575dc487d03820d4cd4cfa/INSTALL_force.rule
CMakeFiles/40d543801081a402937466c1594586c4/INSTALL_force.rule
CMakeFiles/4a56515d7023bd2d1bdc63ca954bd154/INSTALL_force.rule
CMakeFiles/4c91b31f5e0af152fd9b7fe40e977c29/INSTALL_force.rule
CMakeFiles/57fcee679b398e6bc673fc858dfcb342/INSTALL_force.rule
CMakeFiles/5b0d4e2d9541afc485e9bf50b14c541c/ammo.js.rule
CMakeFiles/5b0d4e2d9541afc485e9bf50b14c541c/ammo.wasm.js.rule
CMakeFiles/5b0d4e2d9541afc485e9bf50b14c541c/glue.cpp.rule
CMakeFiles/5b0d4e2d9541afc485e9bf50b14c541c/glue.o.rule
CMakeFiles/aaefff33226a1f46a16ed2dc5ab74a2c/INSTALL_force.rule
CMakeFiles/b1381ccaffffc6ce6a0a2580f01cd187/INSTALL_force.rule
CMakeFiles/c783b1b81c2748c8490b51d639bb2c1e/INSTALL_force.rule
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/e3543c6ba675e7283974968490c84729/INSTALL_force.rule
CMakeFiles/ec295a753d5e2eab5b0fdbf6b806784a/INSTALL_force.rule
CMakeFiles/ed5affe0f6e8255f16309572116cd643/INSTALL_force.rule
CMakeFiles/f00ec4bbc34cbb7a6d74c9b9818d4155/ammo-bindings.rule
CMakeFiles/f00ec4bbc34cbb7a6d74c9b9818d4155/ammo-javascript.rule
CMakeFiles/f00ec4bbc34cbb7a6d74c9b9818d4155/ammo-wasm.rule
CMakeFiles/f00ec4bbc34cbb7a6d74c9b9818d4155/generate.stamp.rule
CMakeFiles/f00ec4bbc34cbb7a6d74c9b9818d4155/INSTALL_force.rule
CMakeFiles/generate.stamp
CMakeFiles/generate.stamp.list
CMakeFiles/TargetDirectories.txt
CMakeLists.txt
INSTALL.vcxproj
INSTALL.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
